<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<form action="/giftshop/toadmin"method="get">
    <p><label>Product id:</label><input name="prod"></p>
    <input type = "submit"value="Delprodect">
    <p><label>Product id:</label><input name="prodadd"></p>
    <p><label>Product name:</label><input name="proname"></p>
    <p><label>Product information:</label><input name="prodinf"></p>
    <input type="file" accept="image/*" name="prodimage" id="file" class="inputfile" />
    <p><label>Product category:</label><input name="prodcat"></p>
    <input type = "submit"value="addprodect">
</form>
</body>
</html>
