<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Online Gift Shop</title>
    <link rel="stylesheet" href="../../../static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../static/bootstrap/dist/css/index.css">

    <link rel="shortcut icon" href="../../../static/bootstrap/pic/webicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../static/bootstrap/dist/css/cart.css">
</head>
<body>
<!-- head-->
<header id="ol_header">
    <!--header1-->
    <div class="top-bar text-center">
        <div class="container">
          <div class="row">
              <div class="top-bar-1 col-md-4">
                  <a href="">
                      <img src="../../../static/bootstrap/pic/logo1.png" alt="online gift shop" width="100">
                  </a>
              </div>

              <div class="top-bar-2 col-md-4">
                  <span style="font-size:large ">Gifts for Tom Cruise's Birthday Party</span>
              </div>
              <div class="top-bar-3 col-md-4">
                    <a href="" style="color: black">


                    </a>
<!--                  -->
                    <a href="" class="glyphicon glyphicon-shopping-cart"style="color: white;font-size:30px; position: relative; top: 10px; right: -130px">
                    </a>
                    <a href="login">
<!--                        -->
                      <button type="button" class="btn btn-default navbar-btn hidden-sm hidden-xs" style="position: relative; right: -150px">Sign in</button>
                    </a>
              </div>
          </div>
        </div>
    </div>
</header>

<section class="pb">
    
    
        
      
    <!-- Tab panes -->
    <div class="container">
        <div class="row pt">
            <div class="col-lg-3">
                <h2>Gender</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a><input type="checkbox"> Male</a></li>
                    <li><a><input type="checkbox"> Unisex</a></li>
                    <li><a><input type="checkbox"> Female</a></li>
                </ul>
                <h2>Price</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a><input type="checkbox"> $5-$10</a></li>
                    <li><a><input type="checkbox"> $10-$20</a></li>
                    <li><a><input type="checkbox"> $20-$30</a></li>
                    <li><a><input type="checkbox"> $30-$50</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="top text-right">
                    <p><a>Soft by: <a href="">Popular</a> </a>
                       <a href="">New</a>
                    </p>
                </div>
                <div class="row">
                    <table cellpadding=0">
                        <tbody>
                            {%for product in wishlist.Productlist.all %}
                            {% if forloop.counter0|divisibleby:"3" %}
                            <tr>
                            <th>
                                <div class="product">
                                    <div class="productcheck">
                                        <input type="checkbox" name="">
                                    </div>
                                    <div class="pa text-left">
                                        <p><img src="{{MEDIA_URL}}{{product.image}}" alt="online gift shop" ></p>
                                        <p>{{ product.Productname }}</p>
                                        <p>AUD{{ product.Price }}</p>
                                    </div>
                                </div>
                            </th>
                            {% else %}
                            <th>
                                <div class="product">
                                    <div class="productcheck">
                                        <input type="checkbox" name="">
                                    </div>
                                    <div class="pa text-left">
                                        <p><img src="{{MEDIA_URL}}{{product.image}}" alt="online gift shop" ></p>
                                        <p>{{ product.Productname }}</p>
                                        <p>AUD{{ product.Price }}</p>
                                    </div>
                                </div>
                            </th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="cartin">
        <div class="container">
            <div class="col-lg-6">
                <p><input type="checkbox"> Select All</p>
            </div>
            <div class="col-lg-2">
                <p><span class="text-danger big">1</span> Products chosen</p>
            </div>
            <div class="col-lg-2">
                <p>Total Price:</p>
            </div>
            <div class="col-lg-2">
                <p><span class="text-danger big">1.00</span></p>
            </div>
        </div>
    </div>
      
</section>









<script src="../../../static/bootstrap/jquery/jquery-3.5.1.js"></script>
<script src="../../../static/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../../static/bootstrap/dist/js/index.js"></script>
<script type="text/javascript" src="../static/bootstrap/dist/js/poplayer.js"></script>
<script>
    document.getElementById("prompt_btn2").onclick = function(){
		// 调用插件
		poplayer.prompt('Welcome,please enter the invitation code','Enter','Cancel','','Code',true);
	};
</script>

</body>
</html>