<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Online Gift Shop</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/index.css">

    <link rel="shortcut icon" href="/static/bootstrap/pic/webicon.png" type="image/x-icon">

</head>
<body>
<!-- head-->
<header id="ol_header">
    <!--header1-->
    <div class="top-bar  text-center">
        <div class="container">
            <div class="row">
                <div class="top-bar-1 col-md-4">
                    <a href="/giftshop/">
                        <img src="/static/bootstrap/pic/logo_new.png" alt="online gift shop" width="100">
                    </a>
                </div>

                <div class="top-bar-2 col-md-4">
                    <form name="Search" action="/giftshop/search"method="get">
                        <input type="text" name="prod" class="search_goods" style="height: 38px;width: 200px" placeholder=" Search...">
                        <button type="submit" class="btn btn-default" style="background-color:#D1B8A4">Search</button>
                    </form>
                </div>
                <div class="top-bar-3 col-md-4">
                <!-- event code-->
                        <span style="color: white" data-toggle="modal" data-target="#eventcode">Event code</span>
                    <div class="modal" tabindex="-1" role="dialog" id="eventcode">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Please enter the event code</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                                <form name="Event" action="/giftshop/searchcode"method="get">
                                    <div class="modal-body">
                                        <input name ="code" type="text" class="form-control" id="code"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" type="button" class="btn btn-primary">Search</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>


                    <!--       cart           -->
                    <a href="/giftshop/shoppingcart" class="glyphicon glyphicon-shopping-cart"style="color: white;font-size:30px; position: relative; top: 10px; right: -130px">
                    </a>

                        {% if request.session.is_login %}
                            <a href="/giftshop/personal" style="color: white">
                                <span class="glyphicon glyphicon-user" style="font-size: 18px;position: relative; right: -150px" >{{ request.session.user_name }}</span>
                            </a>
                        {% else %}
                            <a href="/giftshop/login">
                                <!--                        -->
                                <button type="button" class="btn btn-default navbar-btn hidden-sm hidden-xs" style="position: relative; right: -150px">Sign in</button>
                            </a>
                        {% endif %}

                </div>
            </div>
        </div>
    </div>
</header>
<!-- cate-->
<section id="ol_cate">
    <nav class="navbar navbar-default navbar-static-top navbar-giftshop">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav">
                    <li><a href="/giftshop/productlist/">All</a></li>
                    <li><a href="{% url 'Productcatlist' "Exclusive"%}">Exclusive</a></li>
                    <li><a href="{% url 'Productcatlist' "Events"%}">Events</a></li>
                    <li><a href="{% url 'Productcatlist' "Holiday"%}">Holiday</a></li>
                    <li><a href="{% url 'Productcatlist' "Women"%}">Women</a></li>
                    <li><a href="{% url 'Productcatlist' "Mens"%}">Mens</a></li>
                    <!--    kids and baby     hidden-sm hidden-xs -->
                    <li><a href="{% url 'Productcatlist' "Kids & Baby"%}">Kids & Baby</a></li>
                    <li><a href="{% url 'Productcatlist' "Technology"%}">Technology</a></li>
                    <li><a href="{% url 'Productcatlist' "Artworks"%}">Artworks</a></li>
                    <li><a href="{% url 'Productcatlist' "Entertainment"%}">Entertainment</a></li>
                    <li><a href="{% url 'Productcatlist' "Home & Living"%}">Home & Living</a></li>
                    <li><a href="{% url 'Productcatlist' "Sports & Outdoor"%}">Sports & Outdoor</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>
<section id="gen2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6" style="position: center">
                <!--fill the list name-->
                <div>
                    <form method="get"action="/giftshop/shoppingcart/addwishlist/togenwishlist">
                        <div class="row">
                            <div class="col">
                                <h5>Enter a list name</h5>
                                <input name = "name"  type="text" class="form-control" placeholder="Enter a list name">
                            </div>
                            <div class="col">
                                <h5>Choose a date</h5>
                                <input name = "date" id="datePickerId" type="date" class="form-control">
                            </div>
                            <div class="col">
                                <h5>Choose an address</h5>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div style="text-align: center">
                            <button class="btn" style="background-color: #FC6701;color: white" name = "addwishlist" type="submit">Generate</button>
                        </div>
                    </form>
                </div>
                <br><br><br><br><br>
                <footer class="my-5 pt-5 text-muted text-center text-small">
                    <p class="mb-1">&copy; 2021 - 2045 Online gift shop</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Privacy</a></li>
                        <li class="list-inline-item"><a href="#">Terms</a></li>
                        <li class="list-inline-item"><a href="#">Support</a></li>
                    </ul>
                </footer>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>



<script src="/static/bootstrap/jquery/jquery-3.5.1.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/bootstrap/dist/js/index.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/poplayer.js"></script>
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
<script>datePickerId.min = new Date().toISOString().split("T")[0];</script>



</body>
</html>
