<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Online Gift Shop</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/index.css">
    <link rel="shortcut icon" href="/static/bootstrap/pic/webicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/wishlist.css">
</head>
<body>
<!-- head-->
<header id="ol_header">
    <!--header1-->
    <div class="top-bar  text-center">
        <div class="container">
            <div class="row">
                <div class="top-bar-1 col-md-4">
                    <a href="/giftshop/">
                        <img src="/static/bootstrap/pic/logo_new.png" alt="online gift shop" width="100">
                    </a>
                </div>

                <div class="top-bar-2 col-md-4">
                    <form name="Search" action="/giftshop/search"method="get">
                        <input type="text" name="prod" class="search_goods" placeholder=" Search...">
                        <button type="submit" class="btn btn-default" style="background-color:#D1B8A4">Search</button>
                    </form>
                </div>
                <div class="top-bar-3 col-md-4">
                    <!-- event code-->
                    <span style="color: white" data-toggle="modal" data-target="#eventcode">Event code</span>
                    <div class="modal" tabindex="-1" role="dialog" id="eventcode">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Please enter the event code</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form name="Event" action="/giftshop/searchcode"method="get">
                                    <div class="modal-body">
                                        <input name ="code" type="text" class="form-control" id="code"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" type="button" class="btn btn-primary">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!--       cart           -->
                    <a href="/giftshop/shoppingcart" class="glyphicon glyphicon-shopping-cart"style="color: white;font-size:30px; position: relative; top: 10px; right: -130px">
                    </a>

                    {% if request.session.is_login %}
                        <a href="/giftshop/personal" style="color: white">
                            <span class="glyphicon glyphicon-user" style="font-size: 18px;position: relative; right: -150px" >{{ request.session.user_name }}</span>
                        </a>
                    {% else %}
                        <a href="/giftshop/login">
                            <!--                        -->
                            <button type="button" class="btn btn-default navbar-btn hidden-sm hidden-xs" style="position: relative; right: -150px">Sign in</button>
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <!--top-bar-3groups -->
    <div class="border-bottom">
        <div class="container">
            <!-- Nav tabs -->
            <ul class="nav row nav-tabs">
                <li class="col-sm-4 text-center">
                    <a class="nav-link " data-toggle="tab" href="#Wish">Wish list</a>
                </li>
                <li class="col-sm-4 text-center">
                    <a class="nav-link" data-toggle="tab" href="#Order">Order history</a>
                </li>
                <li class="col-sm-4 text-center">
                    <a class="nav-link" data-toggle="tab" href="#Profile">Profile & setting</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="container">
        <div class="tab-content">
            <div id="Wish" class="tab-pane active">
                <div class="row">
                    <!--4 cate -->
                    <div class="col-lg-3">
                        <h2>Your list</h2>
                        <ul class="nav nav-pills nav-stacked">
                            {% for name in lists.keys %}
                                <li class="nav-item ">
                                    <a class="nav-link active" data-toggle="tab" href="#{{name}}">{{name}}</a>
                                </li>
                            {% empty %}
                                <em><h3>You don't have wishlist</h3></em>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-9 tab-content">
                        {% for wishlist in wishlists %}
                            <div id="{{wishlist.listname}}" class="tab-pane container active">
                                <div class="text-left d-none d-md-block">
                                    <form method="Post" onsubmit="return">
                                        {% csrf_token %}
                                        <div class="form-inline">
                                            <div class="form-group mb-2">
                                                <h5>Delivery date: {{ wishlist.deliverdate }}</h5>
                                            </div>
                                            <div class="form-group mb-2">
                                                <input id="datePickerId" class="form-control" type="date" name = "date" style="width: 200px">
                                            </div>
                                            <div class="form-group mb-2">
                                                <button type="submit" class="btn btn-light" style="background-color:#B53C1E;" value="{{ wishlist.listid }}" name="Reset"> Reset</button>
                                                <button type="submit" class="btn btn-light" style="background-color:#E4BA45;" name="Generate" value="{{ wishlist.listid }}"> Generate</button>

                                            </div>
                                        </div>
                                    </form>

                                </div>

                                <table class="table-responsive">
                                    <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product for {{wishlist.listname}}</th>
                                    </tr>
                                    </thead>
                                    {% for product in wishlist.Productlist.all %}
                                        <tbody>
                                        <tr>
                                            <td>
                                                <figure class="item_side align-items-center">
                                                    <div>
                                                        <div class="aside"><img src="{{ MEDIA_URL }}{{ product.image}}"class="img-sm"></div>
                                                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">{{ product.Productname}}</a>
                                                            <p class="text-muted small">{{ product.category }}</p>
                                                        </figcaption>
                                                        <!--                                                <form method="Post" onsubmit="return" >{% csrf_token %}-->
                                                        <!--                                                    <button type="submit" class="btn btn-light" style="background-color:#FC6701;position: relative;right: -1080px;top:-80px" name="Delete" value="{{ product_in_wishlist.Productid }}"> Delete</button>-->
                                                        <!--                                                </form>-->
                                                    </div>
                                                </figure>


                                            </td>

                                        </tr>

                                        </tbody>
                                        </table>
                                    {% empty %}
                                        <em><h3>Wishlist is empty</h3></em>
                                    {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="Order" class="tab-pane fade">
                <div class="container">
                    <div class="text-center">
                        <h3>Order status</h3>
                    </div>
                </div>

                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">

                        <th scope="col">OrderID</th>
                        <th scope="col">Price</th>
                        <th scope="col">Delivery date</th>
                        <th scope="col">Status </th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for order in orders %}

                        <tr>
                            <td>
                                <p class="text-muted small">{{ order.Orderid }}</p>
                            </td>
                            <td>
                                <p class="text-muted small">AUD${{ order.Price }}</p>
                            </td>
                            <td>
                                <p class="text-muted small">{{ order.deliverdate }}</p>
                            </td>
                            <td>
                                <p class="text-muted small">{{ order.status }}</p>
                            </td>
                        </tr>
                    {% empty %}
                        <em><h3>Orderlist is empty</h3></em>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- user profile -->
            <div id="Profile" class="tab-pane fade">
                <h2>Personal info</h2>

                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="account-settings">
                                        <div class="user-profile">
                                            <div class="user-avatar">
                                                <img src="" alt="">
                                            </div>
                                            <h4 class="user">Information</h4>
                                            <h6 class="user-info">{{user.Name}}</h6>
                                            <h6 class="user-email">{{user.emailaddress}}</h6>
                                            <h6 class="user-phone">{{user.mobile}}</h6>
                                        </div><br>
                                        <div class="about">
                                            <h4>Address</h4>
                                            <p>{{user.address}} </p>
                                        </div>
                                        <form method="Post" onsubmit="return" action="/giftshop/personal/">
                                            <button type="submit" class="btn btn-primary" style="background-color:#FC6701" name="Logout" value="Logout">Log out</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <form action="/giftshop/update" onsubmit="return" method="get">
                                        <div class="row gutters">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <h6 class="mb-2 text-primary">Personal Details</h6>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="username">Full Name</label>
                                                    <input type="text" name = "newname" class="form-control" id="username" placeholder="{{user.username}}">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="emailaddress">Email</label>
                                                    <input type="email" name = "email" class="form-control" id="emailaddress" placeholder="{{user.emailaddress}}">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="mobile">Phone</label>
                                                    <input type="text" name = "mobile" class="form-control" id="mobile" placeholder="{{user.mobile}}">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" name = "password" class="form-control" id="password" placeholder="{{user.password}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row gutters">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label for="address">Address details</label>
                                                    <input type="text" name = "address" class="form-control" id="address" placeholder="{{user.address}}">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" style="background-color:#FC6701" name="Update" value="update">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<script src="/static/bootstrap/jquery/jquery-3.5.1.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/bootstrap/dist/js/index.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/poplayer.js"></script>
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
<script>datePickerId.min = new Date().toISOString().split("T")[0];</script>
</body>
</html>