<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Online Gift Shop</title>
    <link rel="stylesheet" href="../../static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap/dist/css/index.css">

    <link rel="shortcut icon" href="../../static/bootstrap/pic/webicon.png" type="image/x-icon">

</head>
<body>

<!-- head-->
<header id="ol_header">
    <!--header1-->
    <div class="top-bar  text-center">
        <div class="container">
          <div class="row">
              <div class="top-bar-1 col-md-4">
                  <a href=../ >
                      <img src="../../static/bootstrap/pic/logo1.png" alt="online gift shop" width="100">
                  </a>
              </div>

              <div class="top-bar-2 col-md-4">
                  <div class="top-search hidden-sm hidden-xs" >
                      <input type="text" class="form-control" placeholder="Search">
                  </div>
              </div>
              <div class="top-bar-3 col-md-4">
                    <a href="" style="color: white">
                      <span>Event code</span>
                    </a>
<!--                  -->
                    <a href="shoppingcart" class="glyphicon glyphicon-shopping-cart"style="color: white;font-size:30px; position: relative; top: 10px; right: -130px">
                    </a>
                    {% if request.session.is_login %}
                            <a href=" " style="color: white">

                                <span class="glyphicon glyphicon-user" style="font-size: 18px;position: relative; right: -150px" >{{ request.session.user_name }}</span>
                            </a>
                    {% else %}
                            <a href="../login">
                                <!--                        -->
                                <button type="button" class="btn btn-default navbar-btn hidden-sm hidden-xs" style="position: relative; right: -150px">Sign in</button>
                            </a>
                    {% endif %}
              </div>
          </div>
        </div>
    </div>
</header>
<!-- cate-->
<section id="ol_cate">
<nav class="navbar navbar-default navbar-static-top navbar-giftshop">
  <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav">
<!--   exclusive       -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exclusive</a>
            <ul class="dropdown-menu">
                <li><a href="#">Cake</a></li>
                <li><a href="#">Flowers</a></li>
                <li><a href="#">Bags</a></li>
                <li><a href="#">Makeups</a></li>
                <li><a href="#">Rings</a></li>
                <li><a href="#">Clothes</a></li>
                <li><a href="#">Beauty</a></li>
                <li><a href="#">Other more</a></li>
          </ul>
        </li>
<!--  events          -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
            <ul class="dropdown-menu">
                <li><a href="#">Wedding</a></li>
                <li><a href="#">Birthday</a></li>
                <li><a href="#">House Warming</a></li>
                <li><a href="#">Get Promotion</a></li>
                <li><a href="#">Graduation</a></li>
                <li><a href="#">Other Events</a></li>
          </ul>
        </li>
<!--  holidays        -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Holiday</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Valentine‘s Day</a></li>
                    <li><a href="#">New Year</a></li>
                    <li><a href="#">Mother's Day</a></li>
                    <li><a href="#">Christmas</a></li>
                    <li><a href="#">Halloween</a></li>
                    <li><a href="#">Thanksgiving Day</a></li>
                </ul>
        </li>
<!--    womens     <span class="caret">   -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Womens</a>
          <ul class="dropdown-menu">
            <li><a href="#">Flowers</a></li>
            <li><a href="#">Perfume</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Makeups</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Beauty</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Other more</a></li>
          </ul>
        </li>
<!--    mens      -->
        <li><a href="#">Mens</a></li>
<!--    kids and baby     hidden-sm hidden-xs -->
        <li><a href="#">Kids & Baby</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Artworks</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Home & Living</a></li>
        <li><a href="#">Sports & Outdoor</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</section>
<!-- path -->
<section id="path_top">
<ol class="breadcrumb">
  <li><a href="#">Account</a></li>
  <li><a href="#">Profile</a></li>
  <li class="active">Edit</li>
</ol>
</section>
<!-- personal-->
<div class="container">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="account-settings">
			<div class="user-profile">
				<div class="user-avatar">
					<img src="" alt="">
				</div>
				<h4 class="user">Information</h4>
                <h6 class="user-info">{{user.username}}</h6>
				<h6 class="user-email">{{user.emailaddress}}</h6>
                <h6 class="user-phone">{{user.mobile}}</h6>
			</div><br>
			<div class="about">
				<h4>Address</h4>
				<p>{{user.address}} </p>
			</div>
            <form method="Post" onsubmit="return" action="/giftshop/personal/">
            <button type="submit" class="btn btn-primary" style="background-color:#FC6701" name="Logout" value="Logout">Log out</button>
            </form>
		</div>
	</div>
</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mb-2 text-primary">Personal Details</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="fullName">Full Name</label>
					<input type="text" class="form-control" id="fullName" placeholder="Enter full name">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="eMail">Email</label>
					<input type="email" class="form-control" id="eMail" placeholder="Enter email ID">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" class="form-control" id="phone" placeholder="Enter phone number">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" placeholder="Enter new password">
				</div>
			</div>
		</div>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mt-3 mb-2 text-primary">Address</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="Street">Street</label>
					<input type="name" class="form-control" id="Street" placeholder="Enter Street">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="ciTy">City</label>
					<input type="name" class="form-control" id="ciTy" placeholder="Enter City">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="sTate">State</label>
					<input type="text" class="form-control" id="sTate" placeholder="Enter State">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="Post">Post Code</label>
					<input type="text" class="form-control" id="Post" placeholder="Zip Code">
				</div>
			</div>
		</div>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
					<button type="button" id="submit" name="submit" class="btn btn-primary" style="background-color:#FC6701 ">Update</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>

<script src="../../static/bootstrap/jquery/jquery-3.5.1.js"></script>
<script src="../../static/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../static/bootstrap/dist/js/index.js"></script>
</script>


</body>
</html>
