<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Online Gift Shop</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/index.css">
    <link rel="shortcut icon" href="/static/bootstrap/pic/webicon.png" type="image/x-icon">
    <style>
        #table_list tr td{
            border: 0px;
        }
        #caption p{
            margin-top: 20px;
        }
        #price button{
            position: relative;
            left: 150px;
            top:-33px;
            line-height: 15px;
            font-size: 12px;
            width: 50px;
            color: #FC6701;
        }
        #price h5{
            position: relative;
            left: 10px;
        }

    </style>
</head>
<body>
<!-- head-->
<header id="ol_header">
    <!--header1-->
    <div class="top-bar  text-center">
        <div class="container">
            <div class="row">
                <div class="top-bar-1 col-md-4">
                    <a href="/giftshop/">
                        <img src="/static/bootstrap/pic/logo1.png" alt="online gift shop" width="100">
                    </a>
                </div>

                <div class="top-bar-2 col-md-4">
                    <form name="Search" action="/giftshop/search"method="get">
                        <input type="text" name="prod" class="search_goods" style="height: 38px;width: 200px" placeholder=" Search...">
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>
                </div>
                <div class="top-bar-3 col-md-4">
                <!-- event code-->
                        <span style="color: white" data-toggle="modal" data-target="#eventcode">Event code</span>
                    <div class="modal" tabindex="-1" role="dialog" id="eventcode">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Please enter the event code</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                                <form name="Event" action="/giftshop/searchcode"method="get">
                                    <div class="modal-body">
                                        <input name ="code" type="text" class="form-control" id="code"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" type="button" class="btn btn-primary">Search</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>


                    <!--       cart           -->
                    <a href="/giftshop/shoppingcart" class="glyphicon glyphicon-shopping-cart"style="color: white;font-size:30px; position: relative; top: 10px; right: -130px">
                    </a>

                        {% if request.session.is_login %}
                            <a href="/giftshop/personal" style="color: white">
                                <span class="glyphicon glyphicon-user" style="font-size: 18px;position: relative; right: -150px" >{{ request.session.user_name }}</span>
                            </a>
                        {% else %}
                            <a href="/giftshop/login">
                                <!--                        -->
                                <button type="button" class="btn btn-default navbar-btn hidden-sm hidden-xs" style="position: relative; right: -150px">Sign in</button>
                            </a>
                        {% endif %}

                </div>
            </div>
        </div>
    </div>
</header>
<!-- cate-->
<section id="ol_cate">
    <nav class="navbar navbar-default navbar-static-top navbar-giftshop">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav">
                    <li><a href="/giftshop/productlist/">All</a></li>
                    <li><a href="{% url 'Productcatlist' "Exclusive"%}">Exclusive</a></li>
                    <li><a href="{% url 'Productcatlist' "Events"%}">Events</a></li>
                    <li><a href="{% url 'Productcatlist' "Holiday"%}">Holiday</a></li>
                    <li><a href="{% url 'Productcatlist' "Women"%}">Women</a></li>
                    <li><a href="{% url 'Productcatlist' "Mens"%}">Mens</a></li>
                    <!--    kids and baby     hidden-sm hidden-xs -->
                    <li><a href="{% url 'Productcatlist' "Kids & Baby"%}">Kids & Baby</a></li>
                    <li><a href="{% url 'Productcatlist' "Technology"%}">Technology</a></li>
                    <li><a href="{% url 'Productcatlist' "Artworks"%}">Artworks</a></li>
                    <li><a href="{% url 'Productcatlist' "Entertainment"%}">Entertainment</a></li>
                    <li><a href="{% url 'Productcatlist' "Home & Living"%}">Home & Living</a></li>
                    <li><a href="{% url 'Productcatlist' "Sports & Outdoor"%}">Sports & Outdoor</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>
<!-- path -->
<section id="path_top">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Womens</a></li>
        <li class="active">Flowers</li>
    </ol>
</section>

<!--products -->
<section id="product_mid">
    <div class="product_list">
        <div class="container">
            <div class="row">
                <!-- left filter -->
                <div class="col-xs-6 col-md-3">
                    <dl class="radio">
                        <dt><h3>Flowers</h3></dt>
                        <dd><input type="radio" id="radio">Rose</dd>
                        <dd><input type="radio" id="radio">Jasmine</dd>
                        <dd><input type="radio" id="radio">Daisy</dd>
                        <dd><input type="radio" id="radio">Lavender</dd>
                        <dd><input type="radio" id="radio">Lotus</dd>
                        <dd><input type="radio" id="radio">Others</dd>
                        <dt><h3>Price</h3></dt>
                        <dd><input type="radio" id="radio">Any Price</dd>
                        <dd><input type="radio" id="radio">31$ ~ 40$</dd>
                        <dd><input type="radio" id="radio">41$ ~ 50$</dd>
                        <dd><input type="radio" id="radio">51$ ~ 60$</dd>
                        <dd><input type="radio" id="radio">61$ ~ 70$</dd>
                    </dl>
                </div>
                <!-- product -->
                <div class="col-xs-6 col-md-39">
                    <div class="table" >
                        <table class="table" id="table_list" >
                            <tbody>
                            {%for product in products %}
                            {% if forloop.counter0|divisibleby:"3" %}
                                <tr>
                                <th>
                                    <a href="{% url 'Productdetail' product.Productid %}">
                                        <img src="{{MEDIA_URL}}{{product.image}}" alt="online gift shop" style="height: 250px;width:250px">
                                    </a>
                                    <div id="caption">
                                        <p>{{ product.Productname }}</p>
                                    </div>
                                    <div id="price">
                                        <h5>AUD${{ product.Price }}</h5>
                                        <a href="{% url 'Productdetail' product.Productid %}">
                                        <button class= "btn add" type="button" >Add</button>
                                        </a>
                                    </div>
                                </th>
                                {% else %}
                                <th>
                                    <a href="{% url 'Productdetail' product.Productid %}">
                                        <img src="{{MEDIA_URL}}{{product.image}}" alt="online gift shop" style="height: 250px;width:250px">
                                    </a>
                                    <div id="caption">
                                        <p>{{ product.Productname }}</p>
                                    </div>
                                    <div id="price">
                                        <h5>AUD${{ product.Price }}</h5>
                                        <a href="{% url 'Productdetail' product.Productid %}">
                                        <button class= "btn add" type="button" >Add</button>
                                        </a>
                                    </div>
                                </th>
                                {% endif %}
                                {% empty %}
                                <em><h3>No related products found</h3></em>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- row closed -->
        </div>
    </div>
</section>

<section id="pages" style="position: relative;text-align: center">
     <div class="pages">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
</section>
<section id="product_down">
    <div>
        <br><br><br><br>

    </div>
</section>



<script src="/static/bootstrap/jquery/jquery-3.5.1.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/bootstrap/dist/js/index.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/poplayer.js"></script>


<script>
    document.getElementById('prompt_btn332').onclick = function(){
        // 调用插件
        poplayer.prompt('Welcome,please enter the invitation code','Enter','Cancel','','Code',true);
    };
</script>
</body>
</html>
