<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<form action="/giftshop/sign"method="get">
    <p><label>Username:</label><input name="user"></p>
    <p><label>pasword:</label><input name="psd" type="password"></p>
    <p><label>enter your pasword again:</label><input name="psd2" type="password"></p>
    <p><label>Phone number:</label><input name="pho"></p>
    <p><label>Date of birth:</label><input name="date" type="date"></p>
    <p><label>Email address:</label><input name="ema" ></p>
    <p><label>address:</label><input name="add" ></p>
    <input type = "submit"value="Signup">
</form>
</body>
</html>