<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Online Gift Shop</title>
    <link rel="stylesheet" href="../../static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap/dist/css/index.css">

    <link rel="shortcut icon" href="../../static/bootstrap/pic/webicon.png" type="image/x-icon">

</head>
<body>
<!-- head-->
<header id="ol_header">
    <!--header1-->
    <div class="top-bar  text-center">
        <div class="container">
          <div class="row">
              <div class="top-bar-1 col-md-4">
                  <a href="../">
                      <img src="../../static/bootstrap/pic/logo1.png" alt="online gift shop" width="100">
                  </a>
              </div>

              <div class="top-bar-2 col-md-4">
                  <div class="top-search hidden-sm hidden-xs" >
                      <input type="text" class="form-control" placeholder="Search">
                  </div>
              </div>
              <div class="top-bar-3 col-md-4">
                    <a href="" style="color: white">
                      <span>Event code</span>
                    </a>
<!--                  -->
                    <a href="" class="glyphicon glyphicon-shopping-cart"style="color: white;font-size:30px; position: relative; top: 10px; right: -130px">
                    </a>
                    <a href="../login">
<!--                        -->
                      <button type="button" class="btn btn-default navbar-btn hidden-sm hidden-xs" style="position: relative; right: -150px">Sign in</button>
                    </a>
              </div>
          </div>
        </div>
    </div>
</header>
<!-- cate-->
<section id="ol_cate">
<nav class="navbar navbar-default navbar-static-top navbar-giftshop">
  <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav">
<!--   exclusive       -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exclusive</a>
            <ul class="dropdown-menu">
                <li><a href="#">Cake</a></li>
                <li><a href="#">Flowers</a></li>
                <li><a href="#">Bags</a></li>
                <li><a href="#">Makeups</a></li>
                <li><a href="#">Rings</a></li>
                <li><a href="#">Clothes</a></li>
                <li><a href="#">Beauty</a></li>
                <li><a href="#">Other more</a></li>
          </ul>
        </li>
<!--  events          -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
            <ul class="dropdown-menu">
                <li><a href="#">Wedding</a></li>
                <li><a href="#">Birthday</a></li>
                <li><a href="#">House Warming</a></li>
                <li><a href="#">Get Promotion</a></li>
                <li><a href="#">Graduation</a></li>
                <li><a href="#">Other Events</a></li>
          </ul>
        </li>
<!--  holidays        -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Holiday</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Valentine‘s Day</a></li>
                    <li><a href="#">New Year</a></li>
                    <li><a href="#">Mother's Day</a></li>
                    <li><a href="#">Christmas</a></li>
                    <li><a href="#">Halloween</a></li>
                    <li><a href="#">Thanksgiving Day</a></li>
                </ul>
        </li>
<!--    womens     <span class="caret">   -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Womens</a>
          <ul class="dropdown-menu">
            <li><a href="#">Flowers</a></li>
            <li><a href="#">Perfume</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Makeups</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Beauty</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Other more</a></li>
          </ul>
        </li>
<!--    mens      -->
        <li><a href="#">Mens</a></li>
<!--    kids and baby     hidden-sm hidden-xs -->
        <li><a href="#">Kids & Baby</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Artworks</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Home & Living</a></li>
        <li><a href="#">Sports & Outdoor</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</section>

<!--information-->
<section id="fill-info">
    <div class="container">
        <form action="/giftshop/sign"method="get">
        <div class="form-group">
            <label>Username</label>
            <input name = "user" type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input name = "ema" type="email" class="form-control" id="emailBox" aria-describedby="emailHelp" required=""
                   placeholder="@email.com">
            <small id="emailText" class="form-text text-warning"></small>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input name = "psd" type="password" class="form-control"  id="pwd" aria-describedby="emailHelp" required=""
                   placeholder="Password">
            <small id="pwdText" class="form-text text-warning"></small>
        </div>
        <div class="form-group">
            <label>Confirm you password</label>
            <input name = "psd2" type="password" class="form-control"  id="con-pwd" aria-describedby="emailHelp"
                   required="" placeholder="Password again">
            <small id="confirm-pwd" class="form-text text-warning"></small>
        </div>
        <div class="form-group">
            <label>Phone number</label>
            <input name = "pho" type="text" class="form-control"  id="phone" aria-describedby="emailHelp" required=""
                   placeholder="000 0000 000">
            <small id="phonenum" class="form-text text-warning"></small>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input name = "add"  type="text" class="form-control"  id="add" aria-describedby="emailHelp" required=""placeholder="3/8 claude Street,central">
            <small id="address" class="form-text text-warning"></small>
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input name = "date" max="2015-01-01" type="date" class="form-control"  id="dob" aria-describedby="emailHelp" required="">
            <small id="dob-num" class="form-text text-warning"></small>
        </div>
        <button type="submit" class="btn" id="submitBtn" value="Signup">Submit</button>
        </form>
    </div>
</section>

<script src="../../static/bootstrap/jquery/jquery-3.5.1.js"></script>
<script src="../../static/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../static/bootstrap/dist/js/index.js"></script>
</script>


</body>
</html>
