<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get"action="/giftshop/shoppingcart/addwishlist/togenwishlist">
    <div>
    <label>Name</label>
        <input name = "name"  type="text" class="form-control"  id="add" aria-describedby="emailHelp" required="">
    </div>
    <div>
    <label>Deliver date</label>
        <input name = "date" type="date" class="form-control"  id="datePickerId" aria-describedby="emailHelp" required="">
    </div>
     <button type="submit" class="btn" id="submitBtn" name = "addwishlist">Submit</button>
</form>
<script>
    datePickerId.min = new Date().toISOString().slice(0, -14);
</script>
</body>
</html>